.time-hour,
.time-min {
    color: $accent;
    font-size: 70px;
    font-weight: bold;
}

.time-hour {
    margin: 15px 0px 0px 20px;
}

.time-min {
    margin: 15px 0px 0px 0px;
}

.time-day {
    color: $accent-alt;
    font-size: 23px;
    font-weight: normal;
    margin: 10px 10px 0px -25px;
}
