window#waybar {
    background-color: alpha(shade(@base00, 0.9), 0.1);
    color: @base05;
}

#window {
    background-color: @base02;
    border-radius: 0.5rem;
    margin: 5px 0;
    border: 2px solid @base0D;
}

window#waybar.empty #window {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    min-width: 0;
}

#tray {
    background-color: @base02;
    border-radius: 0.5rem;
    margin: 5px 0;
    border: 2px solid @base03;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#custom-power,
#cpu,
#temperature,
#custom-gpu,
#memory,
#disk {
    background-color: @base02;
    margin: 5px 0;
    border-top: 2px solid @base03;
    border-bottom: 2px solid @base03;
}

#custom-power {
    font-size: 20;
    font-weight: bolder;
    color: @base00;
    background-color: #B22222;
    border-radius: 0.5rem 0px 0px 0.5rem;
    margin-left: 0.5rem;
    border: 2px solid red;
}

#cpu {
    color: #ff8c00;
    min-width: 4rem;
}

#temperature {
    color: #ffd700;
    min-width: 4rem;
}

#custom-gpu {
    color: #32cd32;
    min-width: 4rem;
}

#memory {
    color: #20b2aa;
    min-width: 4rem;
}

#disk {
    color: #1e90ff;
    border-radius: 0px 0.5rem 0.5rem 0px;
    margin-right: 0.5rem;
    border-right: 2px solid @base03;
}

#mpris {
    background-color: @base02;
    border-radius: 0.5rem;
    margin: 5px;
    margin-right: 0.5rem;
    padding: 0 0.5rem;
    border: 2px solid @base03;
}

#volume,
#clock {
    background-color: @base02;
    margin: 5px 0;
}

#volume {
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: 2px solid @base03;
}

#pulseaudio {
    min-width: 4rem;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background: @base00;
}

#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: @base01;
}

#pulseaudio-slider.muted highlight {
    background-color: @base09;
}

#clock {
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    border: 2px solid @base03;
}

tooltip {
    background: @base00;
    border: 1px solid @base03;
    border-radius: 8px;
    color: @base05;
    padding: 8px;
}
