* {
    font-size: 12px;
    font-weight: bold;
}

window#waybar * {
    min-height: 0;
}

window#waybar {
    background-color: transparent;
}

/* Left */
#custom-power {
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
}

#cpu,
#temperature,
#custom-gpu,
#memory,
#disk {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#disk {
    border-right-width: 1px;
    border-right-style: solid;
    padding-left: 0.5em;
    padding-right: 1em;
}

#workspaces {
    margin-left: 4px;
    margin-top: -1px;
    margin-bottom: -1px;
    border-width: 1px;
    border-style: solid;
}

#workspaces button {
    border: 0;
    border-radius: 0;
}

/* Center */
#window {
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    padding: 0 0.5rem;
}

window#waybar.empty #window {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    min-width: 0;
}

/* Right */
#pulseaudio,
#tray,
#clock {
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
}

#vpn-drawer {
    padding-right: 4px;
}

#custom-vpn {
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
}

#pulseaudio {
    padding-right: 4px;
}

#pulseaudio-slider {
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-width: 6rem;
    min-height: 4px;
}

#pulseaudio-slider highlight {
    min-width: 10px;
    min-height: 4px;
    border-radius: 5px;
}

#tray {
    padding: 0.5em 0.5rem;
    margin-left: 4px;
    margin-right: 4px;
}

#clock {
    padding: 0.5em 0.5rem;
}
