hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

environment {
    LIBVA_DRIVER_NAME "nvidia"
    XDG_SESSION_TYPE "wayland"
    GBM_BACKEND "nvidia-drm"
    __GLX_VENDOR_LIBRARY_NAME "nvidia"
    NVD_BACKEND "direct"
    MOZ_DISABLE_RDD_SANDBOX "1"
}

animations

gestures {
    hot-corners {
        off
    }
}
