window#waybar {
    background-color: alpha(shade(@base00, 0.9), 0.1);
    color: @base05;
}

#window {
    background-color: @base02;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    margin: 5px 0;
    border: 2px solid @base0D;
}

window#waybar.empty #window {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    min-width: 0;
}

#tray {
    background-color: @base02;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    margin: 5px 0;
    border: 2px solid @base03;
}

#custom-power,
#cpu,
#temperature,
#memory,
#disk {
    background-color: @base02;
    padding: 0.5rem 0.5rem;
    margin: 5px 0;
    border-top: 2px solid @base03;
    border-bottom: 2px solid @base03;
}

#custom-power {
    font-size: 20;
    color: #FFFFFF;
    background-color: #CD5C5C;
    border-radius: 0.5rem 0px 0px 0.5rem;
    margin-left: 0.5rem;
    border: 2px solid #CD5C5C;
}

#cpu {
    color: #bb9af7;
}

#temperature {
    color: #ff9e64;
}

#memory {
    color: #e0af68;
}

#disk {
    color: #9ece6a;
    border-radius: 0px 0.5rem 0.5rem 0px;
    margin-right: 0.5rem;
    border-right: 2px solid @base03;
}

#mpris {
    background-color: @base02;
    border-radius: 0.5rem;
    margin: 5px;
    margin-right: 0.5rem;
    padding: 0 0.5rem;
    border: 2px solid @base03;
}

#pulseaudio,
#pulseaudio-slider,
#clock {
    background-color: @base02;
    padding: 0.5rem 0.5rem;
    margin: 5px 0;
}

#pulseaudio {
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: 2px solid @base03;
}

#clock {
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    border: 2px solid @base03;
}

tooltip {
    background: @base00;
    border: 1px solid @base03;
    border-radius: 8px;
    color: @base05;
    padding: 8px;
}
