window#waybar {
    background-color: alpha(shade(@base00, 0.9), 0.1);
    color: @base05;
}

#window {
    background-color: @base02;
    border-radius: 0.5rem;
    margin: 5px 0;
    border: 2px solid @base0D;
}

window#waybar.empty #window {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    min-width: 0;
}

#tray {
    background-color: @base02;
    border-radius: 0.5rem;
    margin: 5px 0;
    border: 2px solid @base03;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#custom-power,
#cpu,
#temperature,
#memory,
#disk {
    background-color: @base02;
    margin: 5px 0;
    border-top: 2px solid @base03;
    border-bottom: 2px solid @base03;
}

#custom-power {
    font-size: 20;
    color: @base00;
    background-color: @base0F;
    border-radius: 0.5rem 0px 0px 0.5rem;
    margin-left: 0.5rem;
    border: 2px solid @base0F;
}

#cpu {
    color: @base0E;
}

#temperature {
    color: @base0D;
}

#memory {
    color: @base0A;
}

#disk {
    color: @base0B;
    border-radius: 0px 0.5rem 0.5rem 0px;
    margin-right: 0.5rem;
    border-right: 2px solid @base03;
}

#mpris {
    background-color: @base02;
    border-radius: 0.5rem;
    margin: 5px;
    margin-right: 0.5rem;
    padding: 0 0.5rem;
    border: 2px solid @base03;
}

#pulseaudio,
#pulseaudio-slider,
#clock {
    background-color: @base02;
    margin: 5px 0;
}

#pulseaudio {
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: 2px solid @base03;
}

#clock {
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    border: 2px solid @base03;
}

tooltip {
    background: @base00;
    border: 1px solid @base03;
    border-radius: 8px;
    color: @base05;
    padding: 8px;
}
